Builds
astrominerProject/ProjectSettings/RiderScriptEditorPersistedState.asset
astrominerProject/.idea
astrominerProject/UserSettings/Search.index
astrominerProject/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
